<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>アカウント情報管理</title>
    </head>
    <body>
        <header>
            <h1>アカウント情報管理</h1>
            <nav>
                <ul>
                    <li><a href="/">ホーム</a></li>
                    <li><a href="/master/account-management/">アカウント管理</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <h2>アカウント一覧</h2>
            <table border="1">
                <thead>
                    <tr>
                        <th>ユーザー名</th>
                        <th>現在のグループ</th>
                        <th>アクション</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.username }}</td>
                            <td>{{ user.groups.all|join:", " }}</td>
                            <td>
                                <!--削除ボタン-->
                                <form action="{% url 'AdminApp:account_management_delete' user.id %}" method="POST", class="delete-form">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger" onclick="return confirmDelete('{{ user.username }}')">削除</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <h2>ユーザーのグループ変更</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">グループ変更</button>
            </form>
        </main>
        <footer>
            <p>&copy; 2024 My Django Application</p>
        </footer>

        <!--確認用ポップアップ用処理-->
        <script>
            function confirmDelete(username){
                return confirm('「'+ username + '」を削除します。よろしいですか？')
            }
        </script>

    </body>
</html>