<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}[BlocklyCodeAcademy]</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/template.css' %}"/>
  </head>
  <body>
    <header>
      <div class="header-content">
        <p class="logo">BlocklyCodeAcademy</p>
        <!-- ユーザー名 -->
        <div class="selectdiv">
          <label>
            <select>
              <option selected>ユーザー名</option>
              <option>設定</option>
              <option>アカウント管理</option>
              <option>ログアウト</option>
            </select>
          </label>
        </div>
        <!-- ユーザー名 -->
      </div>
      <div class="navigation">
        <a href="{% url 'UserApp:Material_list' %}" class="back-button">一覧に戻る</a>
      </div>
    </header>
    <!--教材表示-->
    <div class="Box">
      <div class="container">
        <a href="{% url 'UserApp:Material_list' %}" class="button1">教材一覧</a>
        <a href="{% url 'UserApp:kadai_list' %}" class="button2">課題一覧</a>
        <a href="{% url 'UserApp:freemode' %}" class="button3">フリーモード</a>
      </div>
      <div class="main">
        <h2 id="materialTitle">{{ title }}</h2>
        <iframe src="{{ url}}"></iframe>
      </div>
    </div>
    <!--教材表示-->
  </body>
</html>
