<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}[BlocklyCodeAcademy]</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/template.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/material_display.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/iframe_style.css' %}"/>
    <script src="{% static 'js/menu.js' %}?v=1.0"></script>
  </head>
  <body>
    <header>
      <div class="header-content">
        <p class="logo">BlocklyCodeAcademy</p>
        <div class="header-right">
          <div id="sa">
             <!-- ボタンはリンクの代わりにも、戻る機能にも使える -->
            {% comment %} <button onclick="goBack()" class="back-button back-button-flat">
              <span class="arrow">＜</span>
              <span>一覧に戻る</span>
            </button> {% endcomment %}
             <!-- リンクのバージョン -->
          <a href="{% url 'UserApp:user_list_files' %}" class="back-button back-button-flat">
            <span class="arrow">＜</span><span>一覧に戻る</span>
          </a>
        </div>
          <!-- ユーザー名 -->
          <div class="selectdiv">
            <label>
              <select id="userMenu">
                <option selected>ユーザー名&emsp;&emsp;<span class="kigou">∨</span></option>
                <option>設定</option>
                <option>アカウント管理</option>
                <option>ログアウト</option>
              </select>
            </label>
          </div>
          <!-- ユーザー名 -->
        </div>
      </div>
    </header>
      <!--教材表示-->
    <div class="Box">
      <div class="container">
        <a href="{% url 'UserApp:user_list_files' %}" class="button1">教材一覧</a>
        <a href="{% url 'UserApp:kadai_list' %}" class="button2">課題一覧</a>
        <a href="{% url 'UserApp:freemode' %}" class="button3">フリーモード</a>
        <a href="{% url 'UserApp:progress' %}" class="button4">課題の進捗<br>確認</a>
      </div>
      <main>
        <h2 id="materialTitle">{{ title }}</h2>
        <div class="view-box">
        <iframe id="contentFrame" src="{%url 'UserApp:load_file'  file_name=filename%}" frameborder="0"></iframe>
        </div>
      </main>
    </div>
    <!--教材表示-->
  </body>
</html>
