<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}[BlocklyCodeAcademy]</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/template.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/Materials/material_display.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/Materials/iframe_style.css' %}"/>
    <script src="{% static 'js/menu.js' %}?v=1.0"></script>
  </head>
  <body>
    <header>
      <div class="header-content">
        <a href="{% url 'UserApp:index' %}"><img class="logo" src="{% static 'menu_img/logo-preview.png' %}"></a>
        <div class="header-right">
          <div id="sa">
            <a href="{% url 'UserApp:user_list_files' %}" class="back-button back-button-flat">
              <span class="arrow">＜</span><span>一覧に戻る</span>
            </a>
          </div>
          <!-- ユーザー名 -->
          <div class="selectdiv">
            <label>
              <select id="userMenu">
                <option selected>ユーザー名&emsp;&emsp;<span class="kigou">∨</span></option>
                <option>設定</option>
                <option>アカウント管理</option>
                <option>ログアウト</option>
              </select>
            </label>
          </div>
        </div>
      </div>
    </header>
      <!--教材表示-->
      <div class="pf">
        <main>
          <h2 id="materialTitle">{{ title }}</h2>
          <div class="view-container">
            <iframe class="view-box" src="{%url 'UserApp:load_file'  file_name=filename%}" frameborder="0"></iframe>
          </div>
        </main>
      </div>
    <!--教材表示-->
  </body>
</html>
