<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/template.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/materials_list.css' %}"/>
  <script src="{% static 'js/menu.js' %}?v=1.0"></script>
  <title>教材一覧[BlocklyCodeAcademy]</title>
</head>

<body>
  <header class="header-content">
    <p class="logo">BlocklyCodeAcademy</p>
    <!-- ユーザー名 -->
    <div class="selectdiv">
      <label>
        <select id="userMenu">
          <option selected>ユーザー名</option>
          <option>設定</option>
          <option>アカウント管理</option>
          <option>ログアウト</option>
        </select>
      </label>
    </div>
    <!-- ユーザー名 -->
    <div class="navigation">
      <!-- ボタンはリンクの代わりにも、戻る機能にも使える 
     <button onclick="goBack()" class="back-button back-button-flat">
       <span class="arrow">＜</span>
       <span>一覧に戻る</span>
     </button>-->
     <!-- リンクのバージョン -->
     <a href="{% url 'UserApp:user_list_files' %}" class="back-button back-button-flat">
       <span class="arrow">＜</span>
       <span>一覧に戻る</span>
     </a>
   </div>
  </header>
  <div class="Box">
    <!-- メニューバー -->
    <div class="container">
      <a href="{% url 'UserApp:user_list_files' %}" class="button1">教材一覧</a>
      <a href="{% url 'UserApp:kadai_list' %}" class="button2">課題一覧</a>
      <a href="{% url 'UserApp:freemode' %}" class="button3">フリーモード</a>
      <a href="{% url 'UserApp:progress' %}" class="button3">課題の進捗<br>確認</a>
    </div>
    <!-- メイン -->
    <div class="main">
      <h1>教材一覧</h1>
      <div class="table-container">
        <div class="table-header">
            <span class="title">タイトル</span>
        </div>
        <div class="table-row">
            {% if error_message %}
                <p style="color: red;">{{ error_message }}</p>
            {% else %}
              {% for title, url in files_with_urls %}
              <form method="POST" action="{% url 'UserApp:send_material' %}">
                {% csrf_token %}
                <span class="row-title">{{ forloop.counter }}.&emsp;{{ title }}</span>
                <input type="hidden" name="title" value="{{ title }}">
                <input type="hidden" name="url" value="{{ url }}">
                <button class="action-button" type="submit">開始</button>
              </form>  
              {% endfor %}
            {% endif %}
        </div>
      </div>
  </div>
</body>
</html>

