<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/template.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/Materials/materials_list.css' %}" />
  <script src="{% static 'js/menu.js' %}?v=1.0"></script>
  <title>教材一覧[BlocklyCodeAcademy]</title>
</head>

<body>
  <!-- メニューバー -->
  

  <header class="header-content">
    <a href="{% url 'UserApp:index' %}"><img class="logo" src="{% static 'menu_img/logo-preview.png' %}"></a>
    <!-- ユーザー名 -->
    <div class="selectdiv">
      <select id="userMenu">
        <option selected>ユーザー名&emsp;&emsp;<span class="kigou">∨</span></option>
        <option>設定</option>
        <option>アカウント管理</option>
        <option>ログアウト</option>
      </select>
    </div>
  </header>

  <div class="Box">
    <div class="container">
      <input type="checkbox" id="menu" checked/>
        <label for="menu" class="menu">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </label>
      <nav class="nav">
        <a href="{% url 'UserApp:user_list_files' %}" class="button1"><img class="img1" src="{% static 'menu_img/material_white.png' %}" alt="教材一覧">教材一覧</a>
        <a href="{% url 'UserApp:kadai_list' %}" class="button2"><img class="img2" src="{% static 'menu_img/kadai_white.png' %}" alt="課題一覧">課題一覧</a>
        <a href="{% url 'UserApp:progress' %}" class="button4"><img class="img4" src="{% static 'menu_img/list_white.png' %}" alt="課題の進捗">課題の進捗</a>
        <a href="{% url 'UserApp:freemode' %}" class="button3"><img class="img3" src="{% static 'menu_img/code_white.png' %}" alt="フリーモード">フリーモード</a>
        <form action="{% url 'logout' %}" method="post">
          {% csrf_token %}
          <a type="submit" class="button6"><img class="img6" src="{% static 'menu_img/logout_white.png' %}" alt="ログアウト">ログアウト</a>
        </form>
      </nav>
    </div>

    <!-- メイン -->
    <main>
      <div class="page-title">
        <p id="c_title">教材一覧</p>
      </div>
      <p>・閲覧したい教材を選択してください</p>
      <div class="table-container">
        <div class="table-header">
          <span class="table-title">タイトル</span>
          <span id="action-title">操作</span>
        </div>

        <!-- 教材リスト -->
        <table class="table-row">
          {% if error_message %}
            <tr><!--教材が存在しない場合 エラーメッセージ-->
              <td colspan="2" style="color: red;">{{ error_message }}</td>
            </tr>
          {% else %}
            {% for title, url in files_with_urls %}
              <form method="POST" action="{% url 'UserApp:send_material' %}">
                {% csrf_token %}
                <div class="table-item">
                  <span class="row-title"><span class="number">{{ forloop.counter }}.&emsp;</span>{{ title }}</span>
                  <input type="hidden" name="title" value="{{ title }}">
                  <input type="hidden" name="url" value="{{ url }}">
                  <div class="button-container">
                    <button class="action-button" type="submit">開始</button>
                  </div>
                </div>
              </form>
              <hr>
            {% endfor %}
          {% endif %}
        </table>
      </div>
    </main>
  </div>
</body>

</html>
