<!-- templates/registration/register.html -->
{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>アカウント新規登録</title>
        <link rel="stylesheet" href="{% static 'css/register.css' %}">
    </head>
    <body>
        <div class="register-container">
            <h2>新規ユーザー登録</h2>
            <form method="post">
                {% csrf_token %}

                <!--ユーザー名-->
                <label for="{{ form.username.id_for_label }}">ユーザー名</label>
                {{ form.username }}
                <!-- 案内文 -->
                <div class="help-text">
                    {{ form.username.help_text }}
                </div>
                <!-- エラーメッセージ -->
                <div class="error-message">
                    {{ form.username.errors }}
                </div>

                <!--パスワード-->
                <label for="{{ form.password1.id_for_label }}">パスワード</label>
                {{ form.password1 }}
                <!-- 案内文 -->
                <div class="help-text">
                    {{ form.password1.help_text }}
                </div>
                <!-- エラーメッセージ -->
                <div class="error-message">
                    {{ form.password1.errors }}
                </div>
                <label for="{{ form.password2.id_for_label }}">パスワード（確認用）</label>
                {{ form.password2 }}
                <!-- 案内文 -->
                <div class="help-text">
                    {{ form.password2.help_text }}
                </div>
                <!-- エラーメッセージ -->
                <div class="error-message">
                    {{ form.password2.errors }}
                </div>

                <!-- グループ選択（初期値userで非表示にする） -->
                <div style="display:none;">
                    {{ form.groups }}
                </div>

                <button type="submit">登録</button>
            </form>
        </div>
    </body>
</html>