<!DOCTYPE html>
{% load static %}
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/template.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/Kadai/kadai.css' %}">
    <title>課題管理[BlocklyCodeAcademy]</title>
  </head>
  <body>
    <header>
      <p class="logo"><a href="{% url 'AdminApp:index' %}">BlocklyCodeAcademy</a></p>
      <!-- ユーザー名 -->
      <div class="selectdiv">
        <label>
        <select>
          <option selected>ユーザー名&emsp;&emsp;<span class="kigou">∨</span></option>
          <option>設定</option>
          <option>アカウント管理</option>
          <option>ログアウト</option>
        </select>
        </label>
      </div>
      <!-- ユーザー名 -->
    </header>
    <div class="Box">
      <!-- メニューバー -->
      <div class="container">
        <a href="{% url 'AdminApp:admin_list_files' %}" class="button1">教材管理</a>
        <a href="{% url 'AdminApp:admin_kadai_list' %}" class="button2">課題管理</a>
        <a href="{% url 'AdminApp:account_management' %}" class="button3">アカウント<br>情報管理</a>
    </div>
    <main>
      <h1 id="c_title">問題一覧</h1>
      <div class="list">
        <div class="add-container">
          <a href="{% url 'AdminApp:add_kadai' %}" class="add-button">課題新規登録</a>
        </div>
      {% for category, kadais in categories.items %}
        <div id="categ">
          <h3 id="c_name">----{{ category }}----</h3>
          <!-- カテゴリごとにテーブルを表示 -->
          <table class="kadai-table">
            <thead>
              <tr>
                <th>課題番号</th>
                <th>課題タイトル</th>
                <th>編集</th>
                <th>削除</th>
              </tr>
            </thead>
            <tbody>
              {% for kadai in kadais %}
                <tr>
                  <td>{{ kadai.number }}</td>
                  <td>{{ kadai.name }}</td>
                  <td>
                    <a href="{% url 'AdminApp:edit_kadai' kadai_id=kadai.number %}" class="btn">編集</a>
                  </td>
                  <td>
                    <!-- 管理者のみ削除ボタンを表示 -->
                    <form action="{% url 'AdminApp:delete_kadai' kadai_id=kadai.number %}" method="POST" style="display:inline;">
                      {% csrf_token %}
                      <button type="submit" class="btn" onclick="return confirm('本当に削除しますか？')">削除</button>
                    </form>
                  </td>
                </tr>
              {% empty %}
                <tr>
                  <td colspan="4">問題がありません。</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <hr>
      {% endfor %}
      </div>
    </main>
    <script type="text/javascript" src="{% static 'js/menu.js' %}"></script>
  </body>
</html>



