<!DOCTYPE html>
{% load static %}
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/Kadai/kadai_admin_style.css' %}"/>
    <title>課題新規追加[BlocklyCodeAcademy]</title>
  </head>
  <body>
    <header>
      <a href="{% url 'AdminApp:admin_kadai_list' %}" id="back">戻る</a>
    </header>
    
    <main>
      <div class="fild">
        <form method="POST">
          {% csrf_token %}
          {{ kadai_form.as_p }}
      
          <h3>解答</h3>
          {{ answer_formset.management_form }}
          {% for form in answer_formset %}
              <div>
                  {{ form.as_p }}
                  {% if form.instance.pk %}
                      <label for="{{ form.prefix }}-DELETE">削除</label>
                      {{ form.DELETE }}
                  {% endif %}
              </div>
          {% endfor %}
      
          <button type="submit">保存</button>
      </form>
      
        
        {% if kadai %}
          <h3>現在の解答</h3>
          <ul>
            {% for answer in answers %}
              <li>{{ answer.a_text }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    </main>
    
  </body>
</html>
  