{%load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>{{ kadai_number }}の課題</title>
            <!-- Load Blockly core -->
            <script src="{% static 'js/blockly/blockly_compressed.js' %}"></script>
            <script src="{% static 'js/blockly/blocks_compressed.js' %}"></script>
            <script src="{% static 'js/blockly/javascript_compressed.js' %}"></script>
            <script src="{% static 'js/blockly/python_compressed.js' %}"></script>
            <script src="{% static 'js/blockly/ja.js' %}">
            <script src="https://unpkg.com/blockly/blockly.min.js"></script>
            <script>
                const kadaiId = "{{ kadai_number }}";
                const csrfToken = "{{ csrf_token }}"; // Djangoが生成したCSRFトークンを取得
            </script>
        <link rel="stylesheet" type="text/css" href="{%static 'css/Kadai/Block_style.css' %}">

    </head>
    <body>
        <header>
            <p class="logo"><a  href="{% url 'UserApp:kadai_list' %}">BlocklyCodeAcademy</a></p>
            <div class="file">
                <!-- 保存ボタン -->
                <button onclick="saveWorkspaceAsXML()">ワークスペースを保存</button>
                
                <!-- XML ファイルを読み込むボタン -->
                <input type="file" id="uploadFile" onchange="loadWorkspaceFromXML(event)" />
            </div>
            <div class="selectdiv">
                <label>
                <select>
                    <option selected>{{ username }} : {{ user_type }}</option>
                    <option>設定</option>
                    <option>アカウント管理</option>
                    <option>ログアウト</option>
                </select>
                </label>
            </div>
        </header>
        <main>
            <div class="field">
                <div class="main_filed">
                    <h3 id="name">・問題 : {{ kadai_name }}</h3>
                    <div id="blocklyDiv"></div>
                </div>

                <!--コードを表示するエリア-->
                <div class = "sub_field">
                    <h4>問題文</h4>
                    <textarea id="exampleOutput" rows="10" cols="50" disabled>{{ message }}</textarea>
                
                    <!--出力結果を表示するエリア-->
                
                    
                    
                    <div class="button_area">
                        <!-- 実行ボタン -->
                        <button onclick="runCode()">実行</button>

                        <!--組んだブロックのコード変換と送信-->
                        <button id="generateCodeButton" onclick="generateCode()">解答を送信</button>
                        <button onclick="clearConsole()">クリア</button>
                    </div>
                    <h4>出力結果</h4>
                    <div id="output">--------ここに結果出力されます--------</div>
                </div>
            </div>
        </main>
        <footer>
            <p>このアプリケーションはGoogleのBlocklyを使用しています。BlocklyはApache License 2.0の下で提供されています。</p>
        </footer>
    </body>
        <script type="text/javascript" src="{% static 'js/src.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/Block.js' %}"></script>

    
</html>
