<!-- kadai_list.html -->
{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{% static 'css/Kadai/kadai.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/template.css' %}">
        <title>課題一覧[BlocklyCodeAcademy]</title>
    </head>
    <body>
        <header>
            <p class="logo"><a  href="{% url 'UserApp:index' %}">BlocklyCodeAcademy</a></p>
            <!-- ユーザー名 -->
            <div class="selectdiv">
              <label>
                <select id="userMenu">
                  <option value="username" selected> ユーザー名&emsp;&emsp;<span class="kigou">∨</span> </option>
                  <option value="settings">設定</option>
                  <option value="account">アカウント管理</option>
                  <option value="logout">ログアウト</option>
                </select>
              </label>
            </div>
            <!-- ユーザー名 -->
        </header>
          <div class="Box">
            <!-- メニューバー -->
            <div class="container">
              <a href="{% url 'UserApp:user_list_files' %}" class="button1">教材一覧</a>
              <a href="{% url 'UserApp:kadai_list' %}" class="button2">課題一覧</a>
              <a href="{% url 'UserApp:freemode' %}" class="button3">フリーモード</a>
              <a href="{% url 'UserApp:progress' %}" class="button4">課題の進捗<br>確認</a>
            </div>
            <main>
                <h1>課題一覧</h1>
                <div class="list">
                    {% for category, kadais in categories.items %}
                        <div id="categ">
                            <p id="c_name">----{{ category }}----</p>
                            <!-- カテゴリごとにテーブルを表示 -->
                            <table class="kadai-table">
                                <thead>
                                    <tr>
                                        <th>課題番号</th>
                                        <th>課題タイトル</th>
                                        <th>ステータス</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for kadai in kadais %}
                                        <tr>
                                            <td>{{ kadai.number }}</td>
                                            <td>{{ kadai.name }}</td>
                                                <td>
                                                <!-- 課題の進捗状況を表示 -->
                                                    {% if kadai.progress == '未着手' %}
                                                        <font color="green" id="not">未着手</font>
                                                    {% elif kadai.progress == '実行中' %}
                                                        <font color="orange" id="running">実行中</font>
                                                    {% elif kadai.progress == '完了' %}
                                                        <font color="red" id="success">完了！</font>
                                                    {% endif %}
                                                </td>
                                            <td>
                                                <a href="{% url 'UserApp:kadai_open' kadai_id=kadai.number %}" class="btn">課題を開く</a>
                                            </td>
                                        </tr>
                                    {% empty %}
                                        <tr>
                                            <td colspan="4">問題がありません。</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <p id="border"></p>
                    {% endfor %}
                </div> 
            </main>
        <script type="text/javascript" src="{% static 'js/menu.js' %}"></script>
    </body>
</html>
