<!-- kadai_list.html -->
{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{% static 'css/kadai.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/template.css' %}">
        <title>課題一覧[BlocklyCodeAcademy]</title>
    </head>
    <body>
        <header>
            <p class="logo">BlocklyCodeAcademy</p>
            <!-- ユーザー名 -->
            <div class="selectdiv">
              <label>
                <select id="userMenu">
                  <option value="username" selected> ユーザー名 </option>
                  <option value="settings">設定</option>
                  <option value="account">アカウント管理</option>
                  <option value="logout">ログアウト</option>
                </select>
              </label>
            </div>
            <!-- ユーザー名 -->
        </header>
          <div class="Box">
            <!-- メニューバー -->
            <div class="container">
              <a href="{% url 'UserApp:Material_list' %}" class="button1">教材一覧</a>
              <a href="{% url 'UserApp:kadai_list' %}" class="button2">課題一覧</a>
              <a href="{% url 'UserApp:freemode' %}" class="button3">フリーモード</a>
              <a href="{% url 'UserApp:progress' %}" class="button3">課題の進捗<br>確認</a>
            </div>
            <div class="main">
                
                <h2>課題一覧</h2>
                <div class="list">
                    {% for category, kadais in categories.items %}
                        <div id="categ">
                            <h3>{{ category }}</h3>
                            <ul>
                                {% for kadai in kadais %}
                                    <li>
                                        <strong>{{ kadai.number }} - {{ kadai.name }}</strong>
                                        <!-- 課題の進捗状況を表示 -->
                                        {% if kadai.progress %}
                                            <p>進捗状況: {{ kadai.progress }}</p>
                                        {% else %}
                                            <p>進捗状況: <font color="red">------</font></p>
                                        {% endif %}
                                        <a href="{% url 'UserApp:kadai_open' kadai_id=kadai.number%}" class="btn">課題を開く</a>
                                    </li>
                                {% empty %}
                                    <li>問題がありません。</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                </div>
            </div>
        <script type="text/javascript" src="{% static 'js/menu.js' %}"></script>
    </body>
</html>
