{%load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>自由製作画面</title>
    <script src="{% static 'js/blockly/blockly_compressed.js' %}"></script>
    <script src="{% static 'js/blockly/blocks_compressed.js' %}"></script>
    <script src="{% static 'js/blockly/javascript_compressed.js' %}"></script>
    <script src="{% static 'js/blockly/python_compressed.js' %}"></script>
    <script src="{% static 'js/blockly/ja.js' %}">
    <script src="https://unpkg.com/blockly/blockly.min.js"></script>
    <script>
        const csrfToken = "{{ csrf_token }}"; // Djangoが生成したCSRFトークンを取得
    </script>
    <link rel="stylesheet" type="text/css" href="{%static 'css/Kadai/Block_style.css' %}">

</head>
<body>
    <header>
        <a href="{% url 'index' %}"><img class="logo" src="{% static 'images/logo-preview.png' %}"></a>
        <div class="file">
            <!-- 保存ボタン -->
            <button onclick="saveWorkspaceAsXML()">ワークスペースを保存</button>
            
            <!-- XML ファイルを読み込むボタン -->
            <input type="file" id="uploadFile" onchange="loadWorkspaceFromXML(event)" />
        </div>
        <div class="comment">
            <button id="t_button">？</button>
        </div>
    </header>
    <main>
        <div class="field">
            <div class="main_filed">
                <h4>フリーモード</h4>
                <div id="blocklyDiv"></div>
            </div>
            
            <div class="sub_field">
                <!--コードを表示するエリア-->
                <h4>コード</h4>
                <textarea id="codeOutput2" rows="10" cols="50" disabled></textarea>
            
                 <!--出力結果を表示するエリア-->
                
                <div class="button_area">
                    <!-- 実行ボタン -->
                    <button onclick="runCode()">実行</button>

                    <!--組んだブロックのコード変換と送信-->
                    <button id="generateCodeButton" onclick="generateCode()">コードを出力</button>
                    <button onclick="clearConsole()">クリア</button>
                </div>
                <h4>コンソール</h4>
                {% comment %} <textarea id="output" rows="10" cols="50" disabled></textarea> {% endcomment %}
                <div id="output">--------ここに結果出力されます--------</div>
            </div>
        </div>  
    </main>
    <footer>
        <p>このアプリケーションはGoogleのBlocklyを使用しています。BlocklyはApache License 2.0の下で提供されています。</p>
    </footer>
</body>

    <script type="text/javascript" src="{% static 'js/src_free.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/Block.js' %}"></script>
    
</html>
