<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/template.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/Materials/materials_list.css' %}" />
  <script src="{% static 'js/menu.js' %}?v=1.0"></script>
  <title>教材一覧[BlocklyCodeAcademy]</title>
</head>

<body>
  <header>
    <a href="{% url 'AdminApp:index' %}"><img class="logo" src="{% static 'images/logo-preview.png' %}"></a>
    <!-- ユーザー名 -->
    <div class="selectdiv">
      <label>
        <select id="userMenu">
          <option selected>ユーザー名&emsp;&emsp;<span class="kigou">∨</span></option>
          <option>設定</option>
          <option>アカウント管理</option>
          <option>ログアウト</option>
        </select>
      </label>
    </div>
    <!-- ユーザー名 -->
  </header>

  <div class="Box">
    <!-- メニューバー -->
    <div class="container">
      <a href="{% url 'AdminApp:admin_list_files' %}" class="button1">教材管理</a>
      <a href="{% url 'AdminApp:admin_kadai_list' %}" class="button2">課題管理</a>
      <a href="{% url 'AdminApp:account_management' %}" class="button3">アカウント<br>情報管理</a>
    </div>

    <!-- メイン -->
    <main>
      <div class="page-title">
        <h1>教材一覧</h1>
      </div>
      <div class="table-container">
        <div class="add-container">
          <a href="{% url 'AdminApp:add_materials' %}" class="add-button">教材新規追加</a>
          <a href="{% url 'AdminApp:next_img_list' %}" class="add-button">画像リスト</a>
        </div>
        <div class="table-header">
          <span class="table-title">タイトル</span>
          <span class="action-title">操作</span>
        </div>

        <div class="table-row">
          {% if error_message %}
            <p style="color: red;">{{ error_message }}</p>
          {% else %}
            {% for title, url in files_with_urls %}
              <form method="POST" action="?">
                {% csrf_token %}
                <div class="table-item">
                  <span class="row-title"><span class="number">{{ forloop.counter }}.&emsp;</span>{{ title }}</span>
                  <input type="hidden" name="title" value="{{ title }}">
                  <input type="hidden" name="url" value="{{ url }}">
                  <div class="button-container">
                    <!-- 編集ボタン -->
                    <button class="action-button" type="submit" value="post" formaction="{% url 'AdminApp:edit_materials' %}">編集</button>
                    <!-- 削除ボタン -->
                    <button class="action-button" type="submit" value="delete" formaction="{% url 'AdminApp:delete_materials' %}">削除</button>
                  </div>
                </div>
              </form>
              <hr>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </main>
  </div>
</body>

</html>
