<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/template.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/Materials/materials_list.css' %}" />
  <script src="{% static 'js/menu.js' %}?v=1.0"></script>
  <title>教材一覧[BlocklyCodeAcademy]</title>
</head>

<body>
  <header>
    <a href="{% url 'AdminApp:index' %}"><img class="logo" src="{% static 'menu_img/logo-preview.png' %}"></a>
  </header>

  <div class="Box">
    <div class="container">
      <input type="checkbox" id="menu" checked/>
        <label for="menu" class="menu">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </label>
        <img class="menu-icon" id="computer-cat" src="{% static 'menu_img/computer-cat-torasiro.png' %}" alt="メニュー猫画像1">
      <nav class="nav">
        <a href="{% url 'AdminApp:admin_list_files' %}" class="button1"><img class="img1" src="{% static 'menu_img/material_white.png' %}" alt="教材一覧">教材管理</a>
        <a href="{% url 'AdminApp:admin_kadai_list' %}" class="button2"><img class="img2" src="{% static 'menu_img/kadai_white.png' %}" alt="課題一覧">課題管理</a>
        <a href="{% url 'AdminApp:account_management' %}" class="button3"><img class="img5" src="{% static 'menu_img/acount_white.png' %}" alt="アカウント">アカウント<br>情報管理</a>
        <form action="{% url 'logout' %}" method="post" name="logout">
          {% csrf_token %}
          <button type="submit" class="button6">
            <img class="img6" src="{% static 'menu_img/logout_white.png' %}" alt="ログアウト">ログアウト
          </button>
        </form>
      </nav>
      <img class="menu-icon" id="teach-cat" src="{% static 'menu_img/teach-white-cat.png' %}" alt="メニュー猫画像2">
    </div>

    <!-- メイン -->
    <main>
      <div class="page-title">
        <h1 id="c_title">教材一覧</h1>
      </div>
      <div class="table-container">
        <div class="add-container">
          <a href="{% url 'AdminApp:add_materials' %}" class="add-button">教材新規追加</a>
          <a href="{% url 'AdminApp:next_img_list' %}" class="add-button">画像リスト</a>
          <form method="post" action="{% url 'AdminApp:download_template' %}" >
            {% csrf_token %}
            <button type="submit" class="download-button">
                教材テンプレート<br>ダウンロード
            </button>
          </form>
        </div>
        <div class="table-header">
          <span class="table-title">タイトル</span>
          <span class="action-title">操作</span>
        </div>

        <div class="table-row">
          {% if error_message %}
            <p style="color: red;">{{ error_message }}</p>
          {% else %}
            {% for title, url in files_with_urls %}
              <form method="POST" action="?">
                {% csrf_token %}
                <div class="table-item">
                  <span class="row-title"><span class="number">{{ forloop.counter }}.&emsp;</span>{{ title }}</span>
                  <input type="hidden" name="title" value="{{ title }}">
                  <input type="hidden" name="url" value="{{ url }}">
                  <div class="button-container">
                    <!-- 編集ボタン -->
                    <button class="action-button" id="edit" type="submit" value="post" formaction="{% url 'AdminApp:edit_materials' %}">編集</button>
                    <!-- 削除ボタン -->
                    <button class="action-button" id="delete" type="submit" value="delete" formaction="{% url 'AdminApp:delete_materials' %}">削除</button>
                  </div>
                </div>
              </form>
              <hr>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </main>
  </div>
</body>

</html>
