<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8" />
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/template.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/Materials/addMaterials.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/Materials/iframe_style.css' %}"/>
  <script src="{% static 'js/preview.js' %}?v=1.0"></script>
  <script src="{% static 'js/menu.js' %}?v=1.0"></script>
  <title>教材削除[BlocklyCodeAcademy]</title>
  <script>
    const csrfToken = "{{ csrf_token }}"; // Djangoが生成したCSRFトークンを取得
  </script>

</head>

<body>
  <header>
    <a href="{% url 'AdminApp:index' %}"><img class="logo" src="{% static 'menu_img/logo-preview.png' %}"></a>
  </header>

  <div class="Box">
    <!-- メニューバー -->
    <div class="container">
      <input type="checkbox" id="menu" checked/>
        <label for="menu" class="menu">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </label>
        <img class="menu-icon" id="computer-cat" src="{% static 'menu_img/computer-cat-torasiro.png' %}" alt="メニュー猫画像1">
      <nav class="nav">
        <a href="{% url 'AdminApp:admin_list_files' %}" class="button1"><img class="img1" src="{% static 'menu_img/material_white.png' %}" alt="教材一覧">教材管理</a>
        <a href="{% url 'AdminApp:admin_kadai_list' %}" class="button2"><img class="img2" src="{% static 'menu_img/kadai_white.png' %}" alt="課題一覧">課題管理</a>
        <a href="{% url 'AdminApp:account_management' %}" class="button3"><img class="img5" src="{% static 'menu_img/acount_white.png' %}" alt="アカウント">アカウント<br>情報管理</a>
        <form action="{% url 'logout' %}" method="post" name="logout">
          {% csrf_token %}
          <button type="submit" class="button6">
            <img class="img6" src="{% static 'menu_img/logout_white.png' %}" alt="ログアウト">ログアウト
          </button>
        </form>
      </nav>
      <img class="menu-icon" id="teach-cat" src="{% static 'menu_img/teach-white-cat.png' %}" alt="メニュー猫画像2">
    </div>

    <!-- メインコンテンツ -->
    <main>
      <h1 id="c_title">教材削除</h1>

      <!-- フォーム開始 -->
      <form method="POST" action="{% url 'AdminApp:delete_item' %}" id="add-form">
          {% csrf_token %}

          <!-- 教材タイトル -->
          <div class="sub-title-box">
            <div class="title-box">
                <label id="sub-title" for="title">教材タイトル</label>
                <input type="text" id="title" name="title" style="background-color: #a9a9a9" value="{{ title }}" readonly />
                <input type="hidden" name="url" value="{{ url }}">
            </div>
            <p>デバッグ用: {{ url }}</p>
            <p>※画像の削除は行われません。<br>&emsp;画像リストページから削除してください。</p>
          </div>
          <!-- 戻るボタン -->
          <a href="{% url 'AdminApp:admin_list_files' %}" class="back-button">戻る</a>
          <!-- 削除ボタン -->
          <button class="submit-button" type="submit">削除</button>
      </form>
      <!-- フォーム終了 -->
      <!-- プレビューボックス -->
      <div class="view-box">
        <label id="sub-title" for="file">プレビュー(一部表示)</label>
        <div class="show-html">
          <iframe contentFrame src="{%url 'AdminApp:load_file' file_name=filename%}" style="pointer-events: none; overflow: hidden; scrollbar-width: none;"></iframe>
        </div>
      </div>
    </main>
  </div>
</body>
</html>
