<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/template.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/Materials/addMaterials.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/Materials/iframe_style.css' %}"/>
    <script src="{% static 'js/preview.js' %}?v=1.0"></script>
    <script src="{% static 'js/choice.js' %}?v=1.0"></script>
    <script src="{% static 'js/menu.js' %}?v=1.0"></script>
    <title>教材編集[BlocklyCodeAcademy]</title>
  </head>

  <body>
    <header>
      <a href="{% url 'AdminApp:index' %}"><img class="logo" src="{% static 'images/logo-preview.png' %}"></a>
      <!-- ユーザー名 -->
      <div class="selectdiv">
        <label>
          <select id="userMenu">
            <option selected>ユーザー名&emsp;&emsp;<span class="kigou">∨</span></option>
            <option>設定</option>
            <option>アカウント管理</option>
            <option>ログアウト</option>
          </select>
        </label>
      </div>
      <!-- ユーザー名 -->
    </header>
    <div class="Box">
      <!-- メニューバー -->
      <div class="container">
        <a href="{% url 'AdminApp:admin_list_files' %}" class="button1">教材管理</a>
        <a href="{% url 'AdminApp:admin_kadai_list' %}" class="button2">課題管理</a>
        <a href="{% url 'AdminApp:account_management' %}" class="button3">アカウント<br>情報管理</a>
      </div>
      <!-- メイン -->
      <main>
        <h1>教材編集</h1>
        <form method="POST" enctype="multipart/form-data" action= "{% url 'AdminApp:edit_item' %}">
          {% csrf_token %}
          {% if choice_error_message %}
            <p class="error-message">{{ choice_error_message }}</p>
          {% endif %}
          <div class="sub-title-box">
            <div class="old-title-box">
              <label id="sub-title" for="title">現在の教材タイトル</label>
              <input input type="text" id="old-title" name="old-title" style="background-color: #a9a9a9" value="{{ old_title }}" readonly/>
            </div>
            <p>タイトルを変更しますか？</p>
            <label class="radio-button">
              <input type="radio" name="title-choice" value="no" checked > しない
            </label>
            <label class="radio-button">
              <input type="radio" name="title-choice" value="yes" > する
            </label>
            <div class="new-title-box" style="display: none;">
              <label id="sub-title" for="title">新しい教材タイトル</label>
              <p class="rule">(日本語・半角英数)</p>
              {% if error_message %}
                <p class="error-message">{{ error_message }}</p>
              {% endif %}
              <input type="text" id="new-title" name="new-title" required maxlength="40" size="40" />
              {% if form.title.errors %}
                <p class="error-message">{{ form.title.errors }}</p>
              {% endif %}
            </div>
          </div>
          <div class="file-box">
            <label id="sub-title" for="file">教材ファイル</label>
            <p>ファイルを変更しますか？</p>
            <label class="radio-button">
              <input  type="radio" name="file-choice" value="no" > しない
              <input type="hidden" name="old-url" value="{{ old_url }}">
            </label>
            <label class="radio-button">
              <input type="radio" name="file-choice" value="yes" checked > する              
            </label>
            <input type="file" id="file" name="new-file" required accept=".html" style="display: inline-block;"/>
            {% if form.file.errors %}
              <p class="error-message">{{ form.file.errors }}</p>
            {% endif %}
          </div>
          <a href="{% url 'AdminApp:admin_list_files' %}" class="back-button" >戻る</a>
          <button type="submit">登録</button>
        </form>
        <div class="view-box">
          <label id="sub-title" for="file">プレビュー(一部表示)</label>
          <div class="show-html">
            <iframe id="contentFrame" title="ファイルプレビュー" style="pointer-events: none; overflow: hidden; scrollbar-width: none;">
              <strong>ここにプレビューが表示されます</strong>
            </iframe>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
