<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/template.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/Materials/img_list.css' %}" />
  <script src="{% static 'js/menu.js' %}?v=1.0"></script>
  <script src="{% static 'js/preview.js' %}?v=1.0"></script>
  <script src="{% static 'js/add_img.js' %}?v=1.0"></script>
  <title>画像リスト[BlocklyCodeAcademy]</title>
</head>

<body>
  <header>
    <a href="{% url 'AdminApp:index' %}"><img class="logo" src="{% static 'menu_img/logo-preview.png' %}"></a>
  </header>

  <div class="Box">
    <!-- メニューバー -->
    <div class="container">
      <input type="checkbox" id="menu" checked/>
        <label for="menu" class="menu">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </label>
        <img class="menu-icon" id="computer-cat" src="{% static 'menu_img/computer-cat-torasiro.png' %}" alt="メニュー猫画像1">
      <nav class="nav">
        <a href="{% url 'AdminApp:admin_list_files' %}" class="button1"><img class="img1" src="{% static 'menu_img/material_white.png' %}" alt="教材一覧">教材管理</a>
        <a href="{% url 'AdminApp:admin_kadai_list' %}" class="button2"><img class="img2" src="{% static 'menu_img/kadai_white.png' %}" alt="課題一覧">課題管理</a>
        <a href="{% url 'AdminApp:account_management' %}" class="button3"><img class="img5" src="{% static 'menu_img/acount_white.png' %}" alt="アカウント">アカウント<br>情報管理</a>
        <form action="{% url 'logout' %}" method="post" name="logout">
          {% csrf_token %}
          <button type="submit" class="button6">
            <img class="img6" src="{% static 'menu_img/logout_white.png' %}" alt="ログアウト">ログアウト
          </button>
        </form>
      </nav>
      <img class="menu-icon" id="teach-cat" src="{% static 'menu_img/teach-white-cat.png' %}" alt="メニュー猫画像2">
    </div>

    <!-- メイン -->
    <main>
      <div class="page-title">
        <h1 id="c_title">画像リスト</h1>
      </div>
      <div class="table-container">
        <div class="add-container">
          <a class="add-button">画像追加</a>
        </div>
        <form method="POST" enctype="multipart/form-data" class="img-box" action= "{% url 'AdminApp:add_img' %}" style="display: none;">
          {% csrf_token %}
          <h3>画像追加フォーム</h3>
          <label id="sub-title" for="file">画像ファイル</label>
          <button type="button" name="add-img" id="add-img">フォーム追加＋</button>
          <div id="img-box">
            <input type="file" id="file" name="image_files" accept=".jpg, .png, .jpeg, .gif, .svg, .ico"/>
            <!-- ここに追加される画像ファイルの入力フィールド -->
          </div>
          <div class="img-button">
            <a class="yameru-button">やめる</a>
            <button class="submit-button" type="submit">登録</button>
          </div>
        </form>

        <p style="color: red; margin-top: 25px;">※教材ファイル内の画像名と画像リスト内の画像名を一致させてください</p>
        <div class="table-header">
          <span class="table-title">タイトル</span>
          <span class="action-title">操作</span>
        </div>
        <div class="table-row">
          {% if error_message %}
            <p style="color: red;">{{ error_message }}</p>
          {% else %}
            {% for file in files_with_urls %}
              <div class="table-item">
                  <span class="row-title">
                      <span class="number">{{ forloop.counter }}.&emsp;</span>{{ file.name }}
                  </span>
                  <div class="button-container">
                      <!-- 削除ボタン -->
                      <form action="{% url 'AdminApp:delete_img' %}" method="POST" style="display:inline;">
                          {% csrf_token %}
                          <input type="hidden" name="img_name" value="{{ file.name }}">
                          <input type="hidden" name="file_url" value="{{ file.url }}">
                          <button type="submit" class="action-button" onclick="return confirm('{{ file.name }} を削除しますか？')">削除</button>
                      </form>
                  </div>
              </div>
              <hr>
            {% endfor %}
          {% endif %}
        </div>        
      </div>
    </main>
  </div>
</body>

</html>