@charset "utf-8";
iframe {
    margin: 0px 25px 25px 35px;
    width: 95%;
    min-height: 90vh;
    background-color: antiquewhite;
    border-radius: 10px;
}

iframe::-webkit-scrollbar {
    display: none; /* Webkit系ブラウザ (Chrome, Edge, Safari) 用 */
}

.view-box {
    width: 95%;
    height: auto;
}