body {
  background-color: #ffffffd1;
  background-image: linear-gradient(transparent 95%, rgba(0, 0, 0, .06) 50%, rgba(0, 0, 0, .06)), linear-gradient(90deg, transparent 95%, rgba(0, 0, 0, .06) 50%, rgba(0, 0, 0, .06));
  background-size: 16px 16px;
  background-repeat: repeat;
  width: 100%;
  height: 10vw;
  display: flex;
  flex-direction: column;
}

header {
  margin-top: 22px;
  margin-bottom: 34px;
  margin-left: 10px;
}

h1 {
  margin: 0px 5px 0px 5px;
}

.page-title {
  display: inline-block;
  position: relative;
  padding: 15px 20px;
  font-size: 18px;
  /*フォントサイズ*/
  color: #000;
  /*color: #fafafa;
  フォントカラー*/
}

.add-container {
  display: flex;
  justify-content: center;
  /* 横方向に中央揃え */
  margin: 5px 0;
  /* 上下に余白を追加 */
  text-align: center;
}

.add-button {
  text-decoration: none;
  /* リンクの下線を削除 */
  background-color: #007BFF;
  /* 背景色を設定（好みに応じて変更） */
  color: white;
  /* テキスト色を白に設定 */
  padding: 13px 26px;
  /* ボタンの内側余白 */
  border-radius: 8px;
  /* 角丸を設定 */
  font-size: 16px;
  /* テキストサイズ */
  font-weight: bold;
  /* 太字 */
  transition: background-color 0.3s ease;
  /* ホバー時のアニメーション */
}

.add-button:hover {
  background-color: #0056b3;
  /* ホバー時の背景色変更 */
}

/*
.table-container {
  width: 85%;
  margin: 30px auto;
  background-color: #e6e5e5;
  padding: 50px 30px 120px 30px;
  border-radius: 15px;
}*/

.table-container {
  width: 90%;
  margin: 30px auto;
  background: linear-gradient(135deg, #f9fcff, #e3f3f9);
  /* 白をベースにした淡い水色のグラデーション */
  padding: 50px 30px 120px 30px;
  border-radius: 15px;
  /* 角を丸くする */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* 控えめなシャドウ */
  border: 2px solid rgba(220, 230, 240, 0.8);
  /* 白寄りの薄い境界線 */
}

.table-header {
  display: flex;
  font-size: 24px;
  justify-content: space-between;
  padding: 20px 5px 15px 5px;
  font-weight: bold;
  border-bottom: 3px solid #5b5b5b;
  color: #000000;
}

.table-title {
  margin-left: 55px;
}

.action-title {
  margin-right: 101px;
}

#action-title {
  margin-right: 48px;
}

.table-item {
  display: flex;
  justify-content: space-between;
  /* 左と右で要素を分ける */
  align-items: center;
  /* 縦方向を揃える */
  width: 100%;
  /* 親要素の幅を維持 */
}

.row-title {
  font-size: 15px;
  display: inline-block;
  white-space: nowrap;
  /* 改行を防ぐ */
  overflow: hidden;
  /* はみ出した部分を非表示 */
  text-overflow: ellipsis;
  /* はみ出しを・・・記号に変更 */
  width: auto;
  max-width: 100%;
  height: auto;
  line-height: normal;
  margin-left: 30px;
}

.number {
  font-size: 17px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  /* ボタンを右寄せ */
  gap: 10px;
  /* ボタン間の間隔を設定 */
  width: auto;
  margin-top: 10px;
  margin-bottom: 5px;
  padding-right: 50px;
}


.action-button {
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 15px;
  padding: 5px 18px;
  font-size: 17px;
  cursor: pointer;
  margin-left: 20px;
}

.action-button:hover {
  background-color: #cceaff;
}

main {
  width: 1500px;
}