ul {
    list-style-type: none;
    padding: 0;
}

.url {
    display: none;
}

a {
    text-decoration: none;
}

.main {
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.material-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    table-layout: fixed;
}

.material-table th,
.material-table td {
    border: 1px solid #71a0a6;
    text-align: center;
    padding: 8px;
}

.material-table th {
    background-color: #e5f2f0ac;
    font-weight: bold;
}

.material-table td {
    background-color: #9fc5e6;
    font-weight: bold;
}


/* 列ごとの幅を設定 */
.material-table th:nth-child(1),
.material-table td:nth-child(1) {
    text-align: left;
    width: 90%; /* 教材名 */
}

.material-table th:nth-child(2),
.material-table td:nth-child(2) {
    text-align: center;
    width: 10%; /* 課題タイトル */
}

.table-container {
    width: 100%;
    background-color: #c8e1e2;
    border: solid 2px #1d78b1;
    border-radius: 30px;
    margin: 0 15px;
  }
  
  .main h1 {
    font: 45px monospace;
    color: #333;
    margin: 15px;
    padding: 10px;
    line-height: 1.5;
  }
  
  .table-container {
    width: 85%;
    margin: 30px auto;
    background-color: #d9d9d9;
    padding: 50px 30px 120px 30px;
    border-radius: 15px;
  }
  
  .table-header {
    display: flex;
    font-size: 28px;
    justify-content: space-between;
    padding: 30px 5px;
    font-weight: bold;
    border-bottom: 3px solid #858585;
    color: #000000;
  }
  
  .material {
    margin-right: 170px;
  }
  
  .table-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 3px solid #b4b4b4;
  }
  
  .row-title, .row-material {
    flex: 2;
    padding: 10px;
    font-size: 20px;
  }
  
  .row-material {
    flex: 1;
    margin-left: 160px;
    font-size: 20px;
  }
  
  .status-button {
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
    margin-right: 5px;
    font-size: 17px;
    cursor: pointer;
  }
  
  .status-button2 {
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 15px;
    padding: 5px 18px;
    margin-right: 5px;
    font-size: 17px;
    cursor: pointer;
  }
  
  .action-button {
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 15px;
    padding: 5px 18px;
    font-size: 17px;
    cursor: pointer;
    margin-left: 20px;
  }
  
  .status-button:hover, .status-button2:hover, .action-button:hover {
    background-color: #cceaff;
  }
  
  .header-container {
    display: flex;
    align-items: center;
    margin-bottom: 1px;
    justify-content: flex-start;
  }
  
  .header-container h1 {
    margin: 0;
  }
  
  .header-container .button5 {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .header-container .button5:hover {
    background-color: #45a049;
  }
  
  .button-container {
    margin-right: 20px;
  }