body {
  background-color: #ffffffd1;
  background-image: linear-gradient(transparent 95%, rgba(0, 0, 0, .06) 50%, rgba(0, 0, 0, .06)), linear-gradient(90deg, transparent 95%, rgba(0, 0, 0, .06) 50%, rgba(0, 0, 0, .06));
  background-size: 16px 16px;
  background-repeat: repeat;
  width: 100%;
  height: 10vw;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

header {
  margin-top: 22px;
  margin-bottom: 34px;
  margin-left: 10px;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header-right {
  display: flex;
}

.back-button {
  font-family: 'Arial', 'Helvetica', sans-serif;
  padding: 5px;
  margin-right: 15px;
  background-color: transparent;
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em; 
  color: #212529; 
  border-radius: 0.5rem; /* 角丸 */
  background-color: transparent; /* 背景色を透明 */
  border: 2px solid #000;
}

.back-button:before {
  content: "＜"; /* 矢印を追加 */
  font-size: 2rem; /* 矢印の大きさ */
  margin-right: 10px; /* 矢印とテキストの間に余白 */
  font-family: 'Arial', 'Helvetica', sans-serif; /* フォント */
  color: #fff;
}

/* ホバー時のエフェクト */
.back-button-flat {
  background: #000; /* 背景色 */
  color: #fff; /* 文字色 */
  border-radius: 35px; /* ボーダーの角丸 */
  overflow: hidden; /* 余白を隠す */
}

.back-button-flat span {
  position: relative;
  z-index: 1; /* テキストが前面に来る */
}

/* ボタンのホバー時の矢印アニメーション */
.back-button-flat:before {
  position: absolute; /* 矢印の位置 */
  width: 150%;
  height: 500%;
  -webkit-transition: all 0.5s ease-in-out; /* トランジション */
  transition: all 0.5s ease-in-out; /* トランジション */
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg); /* 初期の矢印位置 */
  transform: translateX(-98%) translateY(-25%) rotate(45deg); /* 初期の矢印位置 */
  background: #00b7ee; /* 背景色 */
}

/* ボタンのホバー時の矢印の位置 */
.back-button-flat:hover:before {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg); /* ホバー時の矢印位置 */
  transform: translateX(-9%) translateY(-25%) rotate(45deg); /* ホバー時の矢印位置 */
}