@charset "utf-8";

body {
  min-width: 1250px;
  /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
  background-color: #dadada81;
  background-image: linear-gradient(transparent 95%, rgba(0, 0, 0, .06) 50%, rgba(0, 0, 0, .06)), linear-gradient(90deg, transparent 95%, rgba(0, 0, 0, .06) 50%, rgba(0, 0, 0, .06));
  background-size: 16px 16px;
  background-repeat: repeat;
}

header {
  display: flex;
  /*background-color: #4be9e1;*/
  justify-content: space-between;
  width: auto;
  height: 80px;
  margin-top: 20px;
}

.logo {
  padding-left: 10px;
}

.selectdiv {
  min-width: 110px;
  margin-right: 20px;
}

.kigou {
  font-size: 16px;
}

.selectdiv select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  max-width: 300px;
  height: 33px;
  margin: 5px 0px;
  padding: 0px 24px;
  font-size: 16px;
  line-height: 1.75;
  color: #333;
  background-color: #ffffff;
  border: 2px solid #a1a0a0;
  border-radius: 10px;
  -ms-word-break: normal;
  word-break: normal;
}

.Box {
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 200px;
  height: 100vh;
  padding-top: 40px;
  padding-left: 10px;
  padding-right: 13px;
  gap: 40px;
  /*flexのmargin*/
}

.container a {
  border: solid 2px #191970;
  color: #000000;
  background-color: #fff;
  border-radius: 20px;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 20px;
  box-shadow: 0 5px 0 #191970;
  width: 120px;
  text-align: center;
  transition: .3s;
}

.button1:hover {
  background-color: #c4f2cc;
}

.button2:hover {
  background-color: #FFFF66;
}

.button3:hover {
  background-color: #7FBBDD;
}

.button4:hover {
  background-color: #FFC22F;
}

.button5:hover {
  background-color: #F58B05;
}

.container button:hover {
  color: #ffffff;
  transform: translateY(5px);
  box-shadow: 0 0 0 #ffffff;
}

main {
  display: flex;
  gap: 10px;
  flex-direction: column;
  /*align-items: center;*/
  /* justify-content: center; */ 
  background-color: #fff;/*#b8e5f0*/
  border: solid 2px #1d78b1;
  border-radius: 30px;
  margin: 0 15px 15px 0px;
  /*width: 1500px;*/
  height: 100hv;
}

.main h1 {
  font: 45px monospace;
  color: #333;
  margin: 10px;
  padding: 10px;
  line-height: 1.5;
}

@media (min-width: 880px) {
  .button-container {
    justify-content: space-evenly;
    /* ボタンを均等に配置 */
  }

  .main {
    width: 90%;
  }
}