<!--管理者用メニュー画面-->
{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理者用メニュー画面</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/Admin/admin_menu.css' %}">
  </head>
  <body>
    <header>
      <a href="{% url 'UserApp:index' %}"><img class="logo" src="{% static 'images/logo-preview.png' %}"></a>
      <div class="user-info">
        {% if user_info %}
          {{ user_info.group }} : {{ user_info.username }}
        {% else %}
          ゲスト
        {% endif %}
      </div>
    </header>

    <main class="Box">
      <h1>管理者 メニュー</h1>
      <p>Action List</p>

      <div class="containers">
        <div class="container1">
          <!-- 教材管理ボタン -->
          <form method="post" action="{% url 'AdminApp:admin_list_files' %}">
            {% csrf_token %}
            <button type="submit" class="button1">
              <img src="{% static 'menu_img/material.png' %}" alt="教材一覧">
              教材管理
            </button>
          </form>

          <!-- 課題管理ボタン -->
          <form method="post" action="{% url 'AdminApp:admin_kadai_list' %}">
            {% csrf_token %}
            <button type="submit" class="button2">
              <img src="{% static 'menu_img/kadai.png' %}" alt="課題一覧">
              課題管理
            </button>
          </form>

          <!-- アカウント管理ボタン -->
          <form method="post" action="{% url 'AdminApp:account_management' %}">
            {% csrf_token %}
            <button type="submit" class="button3">
              <img src="{% static 'menu_img/acount.png' %}" alt="アカウント管理">
              アカウント管理
            </button>
          </form>
        </div>

        <div class="container3">
          <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="button6">ログアウト</button>
          </form>
        </div>
      </div>
    </main>
  </body>
</html>
