<!--sumple-->
<!DOCTYPE hmtl>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>WelCome,Blockly!</title>
    </head>
    <body>
        <h1>管理者用ページ<h1>
            <a href="{% url 'AdminApp:admin_materials_list' %}" class="button1">教材管理</a>
            <a href="{% url 'AdminApp:admin_kadai_list' %}" class="button2">課題管理</a>
            <a href="{% url 'AdminApp:account_management' %}" class="button3">アカウント情報管理</a>
    </body>
</html>