<!--管理者用メニュー画面-->
{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理者用メニュー画面</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/Admin/admin_menu.css' %}">
  </head>
  <body>
    <header>
      <img class="logo" src="{% static 'images/logo-preview.png' %}">
      <div class="user-info">
        {% if user_info %}
          {{ user_info.group }} : {{ user_info.username }}
        {% else %}
          ゲスト
        {% endif %}
      </div>
    </header>

    <main class="Box">
      <h1>管理者 メニュー</h1>
      <p>Action List</p>
      <div class="container">
        <a href="{% url 'AdminApp:admin_list_files' %}" class="button1">教材管理</a>
        <a href="{% url 'AdminApp:admin_kadai_list' %}" class="button2">課題管理</a>
        <a href="{% url 'AdminApp:account_management' %}" class="button3">アカウント管理</a>
        <form action="{% url 'logout' %}" method="post">
          {% csrf_token %}
          <button type="submit" class="button6">ログアウト</button>
        </form>
      </div>
    </main>
  </body>
</html>
