<!--一般ユーザー用のメニュー画面-->
{% load static %}
<!DOCTYPE hmtl>
<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>WelCome,Blockly!</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/User/user_menu.css' %}">
    </head>
    <body>
        <header>
            <a href="{% url 'UserApp:index' %}"><img class="logo" src="{% static 'images/logo-preview.png' %}"></a>
            <div class="user-info">
                {% if user_info %}
                    {{ user_info.group }} : {{ user_info.username }}
                {% else %}
                    ゲスト
                {% endif %}
            </div>
        </header>


        <main class="Box">
            <h1>ユーザー メニュー</h1>
            <p>Action List</p>
            <!--メニューバー-->
            <div class="containers">
                <div class="container1">
                    <!-- 教材一覧ボタン -->
                    <form method="post" action="{% url 'UserApp:user_list_files' %}">
                        {% csrf_token %}
                        <button type="submit" class="button1">
                            <img src="{% static 'images/material.png' %}" alt="教材一覧">
                            教材一覧
                        </button>
                    </form>

                    <!-- 課題一覧ボタン -->
                    <form method="post" action="{% url 'UserApp:kadai_list' %}">
                        {% csrf_token %}
                        <button type="submit" class="button2">
                            <img src="{% static 'images/material.png' %}" alt="教材一覧">
                            課題一覧
                        </button>
                    </form>

                    <!-- 進捗状況の確認ボタン -->
                    <form action="{% url 'UserApp:progress' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="button5">
                            <img src="{% static 'images/list.png' %}" alt="進捗状況の確認">
                            進捗状況の確認
                        </button>
                    </form>
                </div>
                <div class="container2">
                    <!-- フリーモードボタン -->
                    <form method="post" action="{% url 'UserApp:freemode' %}">
                        {% csrf_token %}
                        <button type="submit" class="button3">
                            <img src="{% static 'images/code.png' %}" alt="フリーモード">
                            フリーモード
                        </button>
                    </form>

                    <!-- アカウント管理ボタン -->
                    <form method="post" action="{% url 'UserApp:user_info' %}">
                        {% csrf_token %}
                        <button type="submit" class="button4">
                            <img src="{% static 'images/material.png' %}" alt="教材一覧">
                            アカウント管理
                        </button>
                    </form>
                </div>
                <div class="container3">
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="button6">ログアウト</button>
                    </form> 
                </div>         
            </div>
        </main>
    </body>
</html>