<!--一般ユーザー用のメニュー画面-->
{% load static %}
<!DOCTYPE hmtl>
<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>WelCome,Blockly!</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/User/user_menu.css' %}">
    </head>
    <body>
        <header>
            <div class="logo">BlocklyCodeAcademy</div>
            <div class="user-info">
                {% if user_info %}
                    {{ user_info.group }} : {{ user_info.username }}
                {% else %}
                    ゲスト
                {% endif %}
            </div>
        </header>


        <main class="Box">
            <h1>ユーザー メニュー</h1>
            <p>Action List</p>
            <!--メニューバー-->
            <div class="containers">
                <!--教材一覧ボタン-->
                <form method="post" action="{% url 'UserApp:user_list_files' %}">
                    {% csrf_token %}
                    <button type="submit" class="button1">教材一覧</button>
                </form>

                <!--課題一覧ボタン-->
                <form method="post" action="{% url 'UserApp:kadai_list' %}">
                    {% csrf_token %}
                    <button type="submit" class="button2">課題一覧</button>
                </form>

                <form action="{% url 'UserApp:progress' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="button5">進捗状況の確認</button>
                </form>

                <!--フリーモードボタン-->
                <form method="post" action="{% url 'UserApp:freemode' %}">
                    {% csrf_token %}
                    <button type="submit" class="button3">フリーモード</button>
                </form>

                <!--ユーザー編集ボタン-->
                <form method="post" action="{% url 'UserApp:user_info' %}">
                    {% csrf_token %}
                    <button type="submit" class="button4">アカウント管理</button>
                </form>

                <!--ログアウトボタン-->
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="button6">ログアウト</button>
                </form>
            </div>
        </main>
    </body>
</html>