{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'css/template.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/Kadai/progress_table.css' %}">
  <title>進捗状況</title>
</head>
<body>
  <header>
    <p class="logo"><a href="{% url 'UserApp:index' %}">BlocklyCodeAcademy</a></p>
    <div class="selectdiv">
      <label>
        <select id="userMenu">
          <option value="username" selected>ユーザー名&emsp;&emsp;<span class="kigou">∨</span></option>
          <option value="settings">設定</option>
          <option value="account">アカウント管理</option>
          <option value="logout">ログアウト</option>
        </select>
      </label>
    </div>
  </header>
  <div class="Box">
    <!-- メニューバー -->
    <div class="container">
      <a href="{% url 'UserApp:user_list_files' %}" class="button1">教材一覧</a>
      <a href="{% url 'UserApp:kadai_list' %}" class="button2">課題一覧</a>
      <a href="{% url 'UserApp:freemode' %}" class="button3">フリーモード</a>
      <a href="{% url 'UserApp:progress' %}" class="button4">課題の進捗<br>確認</a>
    </div>
    <main>
      <h1>あなたの課題進捗状況</h1>
      <div class="table-container">
        <div class="table-header">
          <span class="table-number">課題番号</span>
          <span class="table-title">課題名</span>
          <span id="action-title">進捗状況</span>
        </div>

        <!-- 進捗状況一覧 -->
        <table class="table-row">
          {% for progress in progress_data %}
          <form method="POST" action="{% url 'UserApp:send_material' %}">
            <div class="table-item">
              <p class="kadai-number">{{ progress.kadai.number }}</p>
              <p class="kadai-title">{{ progress.kadai.name }}</p>
              <p class="action">
                {% if progress.progress == '未着手' %}
                  <font color="red" id="not">未着手</font>
                {% elif progress.progress == '実行中' %}
                  <font color="green" id="running">実行中</font>
                {% elif progress.progress == '完了' %}
                  <font color="orange" id="success">完了！</font>
                {% endif %}
              </p>
            </div>
          </form>
          <hr>
          {% endfor %}
        </table>
      </div>
    </main>
  </div>
</body>
</html>
