{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'css/template.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/Kadai/progress_table.css' %}">
  <script src="{% static 'js/menu.js' %}?v=1.0"></script>
  <title>進捗状況</title>
</head>
<body>
  <header>
    <a href="{% url 'UserApp:index' %}"><img class="logo" src="{% static 'menu_img/logo-preview.png' %}"></a>
    <div class="selectdiv">
      <label>
        <select id="userMenu">
          <option value="username" selected>ユーザー名&emsp;&emsp;<span class="kigou">∨</span></option>
          <option value="settings">設定</option>
          <option value="account">アカウント管理</option>
          <option value="logout">ログアウト</option>
        </select>
      </label>
    </div>
  </header>
  <div class="Box">
    <!-- メニューバー -->
    <div class="container">
      <input type="checkbox" id="menu" checked/>
        <label for="menu" class="menu">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </label>
      <nav class="nav">
        <a href="{% url 'UserApp:user_list_files' %}" class="button1"><img class="img1" src="{% static 'menu_img/material_white.png' %}" alt="教材一覧">教材一覧</a>
        <a href="{% url 'UserApp:kadai_list' %}" class="button2"><img class="img2" src="{% static 'menu_img/kadai_white.png' %}" alt="課題一覧">課題一覧</a>
        <a href="{% url 'UserApp:progress' %}" class="button4"><img class="img4" src="{% static 'menu_img/list_white.png' %}" alt="課題の進捗">課題の進捗</a>
        <a href="{% url 'UserApp:freemode' %}" class="button3"><img class="img3" src="{% static 'menu_img/code_white.png' %}" alt="フリーモード">フリーモード</a>
        <form action="{% url 'logout' %}" method="post">
          {% csrf_token %}
          <a type="submit" class="button6"><img class="img6" src="{% static 'menu_img/logout_white.png' %}" alt="ログアウト">ログアウト</a>
        </form>
      </nav>
    </div>
    <main>
      <p id="c_title">あなたの課題進捗状況</p>
      <div class="table-container">
  <table>
    <!-- テーブルヘッダー -->
    <thead>
      <tr class="table-header">
        <th class="table-number">課題番号</th>
        <th class="table-title">課題名</th>
        <th id="action-title">進捗状況</th>
      </tr>
    </thead>

    <!-- テーブルボディ -->
    <tbody>
      {% for progress in progress_data %}
      <tr class="table-item">
        <td class="kadai-number">{{ progress.kadai.number }}</td>
        <td class="kadai-title">{{ progress.kadai.name }}</td>
        <td class="action">
          {% if progress.progress == '未着手' %}
            <font color="red" id="not">未着手</font>
          {% elif progress.progress == '実行中' %}
            <font id="running">実行中</font>
          {% elif progress.progress == '完了' %}
            <font id="success">完了！</font>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
    </main>
  </div>
</body>
</html>
