@charset "utf-8";

body {
  min-width: 880px;
  background-color: #ffffffd1;
  background-image: linear-gradient(transparent 95%, rgba(0, 0, 0, .06) 50%, rgba(0, 0, 0, .06)), linear-gradient(90deg, transparent 95%, rgba(0, 0, 0, .06) 50%, rgba(0, 0, 0, .06));
  background-size: 16px 16px;
  background-repeat: repeat;
}

/* ヘッダー */
header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  margin-top: 20px;
  padding: 0 20px;
}

.logo {
  padding-left: 10px;
}

.user-info {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 14px;
  z-index: 1000;
}

.Box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Box h1 {
  font-size: 36px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  padding: 30px;
  background-color: #f9f9f9;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  width: 90%;
  max-width: 1200px;
}

.Box p {
  font-size: 20px;
  color: #666;
  text-align: center;
  margin-bottom: 30px;
}

/* メニューボタン配置 */
.container {
  margin-top: 10px;
  display: flex;
  flex-direction: column; /* 縦並び */
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 600px;
  gap: 15px;
}

/* ボタンスタイル */
.container a,
.container form button {
  border: solid 2px #191970;
  color: #000000;
  border-radius: 20px;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 20px;
  box-shadow: 0 5px 0 #191970;
  width: 100%;
  margin: 10px 0;
  text-align: center;
  transition: .3s;
}

.button1 {
  background-color: #4fb0f1;
}

.button2 {
  background-color: #9ed9fc;
}

.button3 {
  background-color: rgb(148, 249, 249);
}

.button6 {
  background-color: #f3f7f7;
}

.container a:hover,
.container form button:hover {
  color: #ffffff;
  transform: translate(5px);
  box-shadow: 0 0 0 #ffffff;
}

main {
  align-items: center;
  justify-content: center;
  background-color: #c8e1e2;
  border: solid 2px #1d78b1;
  border-radius: 30px;
  margin: 0 ;
  width: auto;
  height: auto;
}