@charset "utf-8";
/* 課題・自由制作のblocklyのスタイル*/

html,body,main,header,footer{
    font-family: "Shippori Antique", sans-serif;
}



html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-width: 880px;
    background-color: rgb(166, 240, 240);
}

main{
    background-color: rgb(166, 240, 240);
    height: 89%;
    width: 100%;
}

header, footer {
    background-color: #ffffff8c;
}

header {
    display: flex;
    justify-content: space-between;
    width: auto;
    height: 5%;
    padding: 5px;
}


footer {
    height: 5%;
    width: 100%;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: right;
}
.logo {
    padding-left: 10px;
}




h3,h4 {
    color: #ffa826;
    margin: 1px;
}

.main_filed-f{
    padding: 1%;
}

#sub_file h4 {
    background-color: #a1a0a0;
}

.field {
    width: 100%;
    height: 100%;
    display: flex;
    padding-bottom: 5px;
}

.tab {
    display: flex;
    margin: 1px;
}

.tab h4 {
    background-color: #a1a0a0;
    border: #fdfdfd solid 1px;
}

.mode{
    display: none;
    height: 70%;
    margin-bottom: 10px;
}
.mode.active {
    display: block;
}

textarea {
    resize: none;
}

#blocklyDiv {
    height: 95.5%;
    width: 99%;
    margin-left: 15px;
    border: solid 1px #9e9c9c; 
    overflow-y: scroll !important; /* 縦スクロールバーを常に表示 */
}

.main_filed{
    padding-right: 0.5%;
    width: 68%;
}

.sub_field {
    width: 35%;
    height: 100%;
    padding-left: 15px;
    background-color: #7fbbdd;
}

#codeOutput, #codeOutput2, #exampleOutput {
    width: 97%;
}

#output {
    background-color: black;
    color :rgb(124, 255, 30);
    font-family: Consolas, "Courier New", monospace;
    padding: 10px;
    margin-top: 1%;
    border-radius: 5px;
    width: 95%;
    height: 10%;  /* 高さを固定 */
    overflow-y: auto;  /* コンテンツが多くなるとスクロールバーを表示 */
    white-space: pre-wrap; /* 改行を保持 */
    word-wrap: break-word;  /* 長い単語を改行 */
}



#codeOutput, #exampleOutput{
    height: 100%;
    border-color: black;
}

#codeOutput2 {
    height: 70%;
    border-color: black;
}

#codeOutput,#codeOutput2 {
    background-color: #1c1c1c;
    color :rgb(124, 255, 30);
}



#exampleOutput {
    font-size: 20px;
}

textarea:disabled {
    background-color: #f5f5f5;
}

.button_area button {
    font-size: 16px; /* ボタンの文字サイズ */
    padding: 10px 20px; /* ボタン内の余白 */
    border: none; /* ボーダーを削除 */
    width: 150px;
    border-radius: 5px; /* 角を丸める */
    background-color: #ffc22f;  /* 背景色 */
    color: white; /* 文字色 */
    cursor: pointer; /* カーソルをポインタに変更 */
    transition: background-color 0.3s; /* ホバー時の背景色変更をスムーズに */
  }

  /* ホバー時のスタイル */
  .button_area button:hover {
    color: #000000;
    background-color: #fddb7d; /* ホバー時の背景色 */
  }

  /* クリック時のスタイル */
  .button_area button:active {
    background-color: #f0c960; /* クリック時の背景色 */
  }

  /* 特定のボタンに別の色を適用したい場合 */
  #generateCodeButton {
    background-color: #008CBA; /* 背景色を青に */
  }
  #generateCodeButton:hover {
    background-color: #007BB5; /* ホバー時の背景色を濃い青に */
  }




#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.175); /* 背景色を暗くしつつ透明度を調整 */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; /* 正解メッセージが最前面に表示される */
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* 他の要素を邪魔しないように */
    z-index: 1000; /* 紙吹雪がオーバーレイの下に表示されないように調整 */
}






/* 画面幅が1200px未満のとき */
@media screen and (max-width: 1500px) {

    h3,h4 {
        font-size: 75%;
    }

    .main_filed{ 
        width: 70%;
        height: 100%;
        padding-bottom: 5px;
        gap: 20px;
    }

    .main_filed-f{ 
        width: 70%;
        height: 100%;
        padding: 1%;
        gap: 20px;
    }

    .sub_field {
        width: 30%;
        height: 100%;
        padding-left: 15px;
    }

    #blocklyDiv {
        width: 99%; /* 横幅を90%に変更 */
        height: 95%; /* 高さを600pxに変更 */
        border: #a1a0a0 1px solid;
    }

    #exampleOutput {
        width: 90%; /* 横幅を90%に変更 */
        height: 100%; /* 高さを600pxに変更 */
        font-size: 10px;
    }

    #codeOutput {
        width: 90%; /* 横幅を90%に変更 */
        height: 100%; /* 高さを600pxに変更 */
    }

    #codeOutput2 {
        width: 90%; /* 横幅を90%に変更 */
        height: 50%; /* 高さを600pxに変更 */
    }


    #output {
        width: 90%; /* 出力エリアを画面幅に合わせる */
        height: 30%; /* 高さを縮小 */
    }

    .button_area button {
        font-size: 10px; /* ボタンの文字サイズ */
        width: 75px;
      }

    .selectdiv {
        min-width: 90px;
        margin-right: 5px;
    }

    .selectdiv select {
        margin: 0px;
    }

    .mode{
        display: none;
        height: 45%;
    }
}