body {
    background-color: #ffffffd1;
    background-image: linear-gradient(transparent 95%, rgba(0, 0, 0, .06) 50%, rgba(0, 0, 0, .06)), linear-gradient(90deg, transparent 95%, rgba(0, 0, 0, .06) 50%, rgba(0, 0, 0, .06));
    background-size: 16px 16px;
    background-repeat: repeat;
    width: 100%;
    height: 10vw;
    min-width: 880px;
}


.list {
    margin: 10px;
    padding: 10px;
    background-color: rgba(219, 218, 218, 0.87);
    border-radius: 15px;
}

h2 {
    margin: 10px;
}

#c_name {
    background-color: #ffffff7f;
    font-weight: bold;
    font-size: 150%;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
    vertical-align: middle;
}



.kadai-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    margin-bottom: 20px;
    table-layout: fixed;
}

.kadai-table th,
.kadai-table td {
    border: 1px solid #71a0a6;
    text-align: center;
    padding: 8px;
}

.kadai-table th {
    background-color: #e5f2f0ac;
    font-weight: bold;
}

.kadai-table td {
    background-color: #9fc5e6;
    font-weight: bold;
}


/* 列ごとの幅を設定 */
.kadai-table th:nth-child(1),
.kadai-table td:nth-child(1) {
    text-align: center;
    width: 10%;
    /* 課題番号 */
}

.kadai-table th:nth-child(2),
.kadai-table td:nth-child(2) {
    text-align: left;
    width: 70%;
    /* 課題タイトル */
}

.kadai-table th:nth-child(3),
.kadai-table td:nth-child(3) {
    text-align: center;
    width: 10%;
    /* 編集 */
}

.kadai-table th:nth-child(4),
.kadai-table td:nth-child(4) {
    text-align: center;
    width: 10%;
    /* 削除 */
}

.btn {
    display: inline-block;
    padding: 5px;
    font-size: 15px;
    color: #fff;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #14b9d69e;
}

#border {
    border: #f1f8ffc6 10px solid;
    border-radius: 10px;
}