@charset "utf-8";

body {
  background-color: #ffffffd1;
  background-image: linear-gradient(transparent 95%, rgba(0, 0, 0, .06) 50%, rgba(0, 0, 0, .06)), linear-gradient(90deg, transparent 95%, rgba(0, 0, 0, .06) 50%, rgba(0, 0, 0, .06));
  background-size: 16px 16px;
  background-repeat: repeat;
  width: 100%;
  height: 10vw;
  min-width: 880px;
}

.table-container {
  width: 85%;
  margin: 30px auto;
  background: linear-gradient(135deg, #f9fcff, #e3f3f9);
  /* 白をベースにした淡い水色のグラデーション */
  padding: 50px 30px 120px 30px;
  border-radius: 15px;
  /* 角を丸くする */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* 控えめなシャドウ */
  border: 2px solid rgba(220, 230, 240, 0.8);
  /* 白寄りの薄い境界線 */
}

.table-header {
  display: flex;
  font-size: 24px;
  justify-content: space-between;
  padding: 20px 5px 15px 5px;
  font-weight: bold;
  border-bottom: 3px solid #5b5b5b;
  color: #000000;
}

.table-item {
  display: flex;
  justify-content: space-between;
  /* 左と右で要素を分ける */
  align-items: center;
  /* 縦方向を揃える */
  width: 100%;
  /* 親要素の幅を維持 */
}

h1 {
  color: #333;
  margin: 15px;
  padding: 10px;
  line-height: 1.5;
}

.kadai-number {
  margin-left: 10px;
}