body {
  background-color: #ffffffd1;
  background-image: linear-gradient(transparent 95%, rgba(0, 0, 0, .06) 50%, rgba(0, 0, 0, .06)), linear-gradient(90deg, transparent 95%, rgba(0, 0, 0, .06) 50%, rgba(0, 0, 0, .06));
  background-size: 16px 16px;
  background-repeat: repeat;
  width: 100%;
  min-width: 900px;
}

main {
  width: 80%;
}

.table-container {
  width: 85%;
  margin: 30px auto;
  background: linear-gradient(135deg, #f9fcff, #e3f3f9);
  padding: 50px 30px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(220, 230, 240, 0.8);
}

table {
  width: 100%;
  border-collapse: collapse; /* 二重線を防止 */
}

th, td {
  border: 1px solid #ccc; /* セルを囲む線 */
  padding: 12px 15px;
  text-align: center;
}

th {
  font-weight: bold;
  background-color: #9be697;
}

tr:nth-child(even) {
  background-color: #dadada; /* 偶数行の背景色 */
}

h1 {
  text-align: center;
  color: #333;
}

#running {
  color: rgb(17, 0, 255);
  
}

#success {
  color: rgb(0, 180, 0);
}